<h1>Current Auctions</h1>
<% @guitars.each do |guitar| %>
    <div>
        <h1 class="guitar_header"><%= link_to(guitar.brand, guitar_path(guitar)) %> <%= link_to(guitar.style, guitar_path(guitar)) %> </h1>
        <h3>Auction Ends: <%= guitar.auction_end.strftime("%B #{guitar.auction_end.day.ordinalize}, %Y") %> </h3>
        <div>
        <%= image_tag "#{guitar.image}" %>
        </div>
    </div>
<% end %>