
<body>
<img height="600px" width="100%" src="https://s3-us-west-1.amazonaws.com/guitarauction/guitars/images/000/000/003/original/rackguits.jpg">
<h1 style="font-size: 5em; color: #333;" class="display-2 text-center text-white hero">Guitars Auction<h1>
    <%= link_to guitars_path do %>
        <div class="jumbotron">
            <h3>Current Auctions</h3>
        </div>
    <% end %>
    
    <%= link_to "history" do %>
        <div class="jumbotron">
            <h3>Past Auctions</h3>
        </div>
    <% end %>
    
    <%= link_to new_guitar_path(current_user) do %>
        <div class="jumbotron">
            <h3>Create an Auction</h3>
        </div>
    <% end %>
</body>

