<h1 class="jumbotron" style="font-size: 5em">Guitars Auction</h1>   
    <%= link_to guitars_path do %>
        <div class="jumbotron">
            <h3>Current Auctions</h3>
        </div>
    <% end %>
    
    <%= link_to "history" do %>
        <div class="jumbotron">
            <h3>Past Auctions</h3>
        </div>
    <% end %>
    
    <%= link_to new_guitar_path(current_user) do %>
        <div class="jumbotron">
            <h3>Create an Auction</h3>
        </div>
    <% end %>


