<div class="container">
<h1 class="jumbotron">Guitars Auction</h1>   

<h3><%= link_to 'Current Auctions', guitars_path %></h3>
<h3><%= link_to 'Past Auctions', "history" %></h3>
<h3><%= link_to 'Create an Auction', new_guitar_path(current_user) %></h3>

</div>